<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>html3</title>

</head>
<body>

<!--日期格式化-->
<span th:text="${#dates.format(date,'yy年MM月dd日  hh:mm:ss')}"></span><br>
<!--金额-->
<span th:text="${#numbers.formatDecimal(price,1,2)}"></span><br>
<!--字符串-->
<span th:text="${#strings.abbreviate(strText,60)}"></span><br>
<!-- 判断字符串是否为空 -->
<span th:if="${#strings.isEmpty(strText)}">字符串为空</span>
<!-- 截取字符串，指定长度 -->
<span th:text="${#strings.substring(strText,1,20)}"></span>

</body>
</html>